# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/

# Test & coverage caches
.pytest_cache/
.coverage
htmlcov/

# Linter caches
.ruff_cache/

# Editors / OS
.idea/
.vscode/
.DS_Store